/*
--------------------|📝 : Colors
*/

:root {
  --color-one: #4ea1d3;
  --color-two: #e85a71;
  --color-three: #d8e9ef;
  --color-four: #454552;
}

body[class="dark"] {
  --color-three: #454552;
  --color-four: #d8e9ef;
}
