/*
--------------------|📝 : Header
*/

@keyframes btnOff {
    0%{
        transform: translateY(-20rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes btnDark {
    0%{
        transform: translateX(-20rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/*
--------------------|📝 : Calculator
*/

@keyframes openCalc {
    0%{
        transform: translateY(calc(100vh + 36rem));
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes closeCalc {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(calc(100vh + 36rem));
        opacity: 0;
    }
}
