/*
--------------------|📝 : Reset
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
--------------------|📝 : Tag
*/

html {
  //----------|✏️ : This defines what 1rem is.
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(
    135deg,
    var(--color-three) 0%,
    var(--color-one) 100%
  );
  overflow: hidden;
}


/*
--------------------|📝 : Container
*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
